.mic-animation-container{
  position: absolute;
  width: 106px;
  height: 138px;
  top: calc(50% - (138px / 2));
  left: calc(50% - (106px / 2));
  display: inline-block;
  .bg{
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .icon{
    position: absolute;
    left: 50%;
    bottom: calc(25% + 12.75px);
    margin-left: -19px;
  }
}
